arrow==0.17.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
fake-useragent==0.1.11
idna==2.10
isodate==0.6.0
lxml==4.6.2
mypy-extensions==0.4.3
numpy==1.19.4
pandas==1.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
qwikidata==0.4.0
rdflib==5.0.0
requests==2.25.0
six==1.15.0
soupsieve==2.1
SPARQLWrapper==1.8.5
urllib3==1.26.2
wikipedia==1.4.0
Wikipedia-API==0.5.4
